body {
    background-color: powderblue;
  }
  h1 {
    color: blue;
  }
  body {
    color: blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif
  }
  img{
    width:100%;
    max-width:800px;
    height: 100%;
    max-height: 800px;
}
div {
    display: flex;
    justify-content: center;
  }